<div class="payment-info">
  <img src="https://offer.groundedfootwear.co/freedom/en/us/v1/img/bundle-cards.png" alt="Payment methods" class="payment-cards" />
</div>

<style>
  .payment-info {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .payment-cards {
    max-width: 300px;
    height: auto;
  }
</style>
