---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import { brands } from "../../utils/data";
import GradiantText from "../shared/GradiantText.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={`relative py-4 sm:py-6 ${className}`}>
  <Container className="flex flex-col gap-4 sm:gap-6">
    <div class="text-center max-w-3xl mx-auto">
      <h2 class="text-4xl/tight sm:text-5xl/tight font-bold text-heading-1 mb-4 sm:mb-6">
        {brands.title}
      </h2>
      <div class="flex justify-center flex-wrap gap-4">
        {
          brands.list.map((brand) => (
            <div class="p-4 sm:p-5 rounded-lg bg-body border border-box-border group">
              <Image
                src={brand.logo}
                alt={brand.name}
                width={140}
                height={40}
                class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
              />
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>
