---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Spots from "../shared/Spots.astro";
---

<section class="relative flex flex-col md:flex-row gap-2 lg:gap-5">
  <div class="flex mx-auto">
    <!-- <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    /> -->
    <span
      class="font-bold bg-box-bg rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >
    <div>Increased Visibility</div>
  </div>
  <div class="flex mx-auto">
    <!-- <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    /> -->
    <span
      class="font-bold bg-box-bg rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >
    Engaged Audiences
  </div>
  <div class="flex mx-auto">
    <!-- <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    /> -->
    <span
      class="font-bold bg-box-bg rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >Measurable Impact
  </div>
</section>
