---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Spots from "../shared/Spots.astro";
---

<section class="relative flex flex-col md:flex-row gap-2 lg:gap-5">
  <div class="flex mx-auto">
    <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    />
    <div>Increased Visibility</div>
  </div>
  <div class="flex mx-auto">
    <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    />Engaged Audiences
  </div>
  <div class="flex mx-auto">
    <Image
      src="/icons/check.svg"
      alt="Checkmark"
      width="16"
      height="16"
      class="mr-2"
    />Measurable Impact
  </div>
</section>
