---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

import myImage from "../../assets/images/dev-with-c-1.webp";
import GradiantText from "../shared/GradiantText.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="features" class=`${className}`>
  <Container className="">
    <div class="text-center max-w-3xl mx-auto">
      <Title>
        We provide <GradiantText>Important <br />Features</GradiantText> for Digital
        Marketing
      </Title>
    </div>
    <div class="flex flex-col lg:gap-10 lg:gap-12 midmd:flex-row mt-8">
      <div class="flex items-center lg:w-1/2 flex-col">
        <div class="text-heading-3 font-medium">
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Advanced Analytics
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Targeted Ad Campaigns
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Content Calendar Management
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Influencer Collaborations
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Customized Reporting
          </div>
        </div>
      </div>
      <div class="flex items-center lg:w-1/2 flex-col">
        <div class="text-heading-3 font-medium">
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >A/B Testing
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Social Listening
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Trend Analysis
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >24/7 Customer Support
          </div>
          <div class="flex items-center">
            <span
              class="font-bold rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
              >&checkmark;</span
            >Cross-Platform Integration
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
