---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span class="badge">
  {text}
</span>

<style>
  .badge {
    display: block;
    color: #047857;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
</style>