---
import Layout from '../layouts/Layout-Checkout.astro';
import QuantitySelector from '../components/sections/quantity/QuantitySelector.astro';
import ColorSizeSelector from '../components/sections/colorsize/ColorSizeSelector.tsx';
import PaymentInfo from '../components/shared/PaymentInfo.astro';
---

<Layout title="Checkout">
  <main>
    <QuantitySelector />
    <ColorSizeSelector client:load />
    <PaymentInfo />
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: 0 auto;
    background: #f8fafc;
    min-height: 100vh;
    padding: 2rem 1rem;
  }
</style>
