---
import Container from "../components/shared/Container.astro";
---

<Container>
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
    <p class="mb-4">
      We're committed to providing excellent customer experiences and helping you get the most out of your purchase. If you have any questions we have a list of Frequently Asked Questions that will tell you how to use our site, order from us, start an account and track the progress of your order.
    </p>
    <p class="mb-4">
      When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order
      to provide us with information that helps us learn about your browser and operating system.
    </p>
    <p class="mb-4">
      Email marketing (if applicable): With your permission, we may send you emails about our store, new products and
      other updates.
    </p>
  </section>

  <h2 class="text-2xl font-semibold mb-4">Reach Us by Email</h2>
  <p class="mb-4">
    We're committed to providing excellent customer experiences and helping you get the most out of your purchase. If you have any questions we have a list of Frequently Asked Questions that will tell you how to use our site, order from us, start an account and track the progress of your order.
  </p>
  <p class="mb-4">
    We aim to respond within 24 hours during our working hours of Monday - Friday, 9:00 am to 5:00 pm.
  </p>
  <p class="mb-4">
    Email marketing (if applicable): With your permission, we may send you emails about our store, new products and
    other updates.
  </p>
</section>

<h2 class="text-2xl font-semibold mb-4">Company Details</h2>
<p class="mb-4">
  Company details  
</p>
</section>
</Container>
