---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Brands from "../components/sections/Brands.astro";
import FAQ from "../components/sections/FAQ.astro";
import Solutions from "../components/sections/Solutions.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Features from "../components/sections/Features.astro";
---

<Layout title="Welcome to the Agency template">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <Brands className="py-10 md:py-16" />
    <Features className="py-10 md:py-16" />
    <Solutions className="pt-10 md:pt-16" />
    <Testimonials className="py-10 md:py-16" />
    <FAQ className="py-10 md:py-16" />
  </main>
</Layout>
