---
import Layout from "../layouts/Layout-Home.astro";
import Hero from "../components/sections/Hero.astro";
import Brands from "../components/sections/Brands.astro";
import FAQ from "../components/sections/FAQ.astro";
import Solutions from "../components/sections/Solutions.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Features from "../components/sections/Features.astro";
---

<Layout title="Welcome to the Agency template">
  <main class="flex flex-col overflow-hidden">
    <Hero className="pb-8" />
    <Brands className="py-8" />
    <Features className="py-8" />
    <Solutions className="py-8" />
    <Testimonials className="py-8" />
    <FAQ className="py-8" />
  </main>
</Layout>
