---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Brands from "../components/sections/Brands.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Solutions from "../components/sections/Solutions.astro";
---

<Layout title="Welcome to the Agency template">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Brands />
    <Solutions />
    <Services />
    <AboutUs />
    <Features />
    <CTA />
    <!-- Hero -->
    <!-- headline, subheading, image, cta button, results -->
    <!-- Problems/Solutions -->
    <!-- title, painpoint, aggitate pain, introduce solution, video  -->
    <!-- Benefits -->
    <!-- benefit title, thanks to features, visual -->
    <!-- Testimonials -->
    <!-- reviews, partners -->
    <!-- Features -->
    <!-- ~10 features, more technical than emotional, in a list -->
    <!-- FAQ -->
    <!-- questions, answers, video -->
    <!-- CTA -->
    <!-- Question, button -->
  </main>
  <!-- <style>
    main {
      height: 100%;
      background: linear-gradient(limegreen, transparent),
        linear-gradient(90deg, skyblue, transparent),
        linear-gradient(-90deg, coral, transparent);

      background-blend-mode: difference;
    }
  </style> -->
</Layout>
