---
import Container from "../components/shared/Container.astro";
---

<Container>
  <h1 class="text-3xl font-bold mb-6">Returns Policy</h1>
  <section class="mb-8">
  
    <p class="mb-4">
      Your enjoyment of our products is our highest priority. For your peace of mind, all orders carry a 30-Day 
      Satisfaction Guarantee. Please see below for our specific policies related to returns, refunds, and exchanges.
    </p>
    <p class="mb-4">
      If you change your mind after purchasing, or you're not completely satisfied with your purchase, you have the 
      option to return it to us within 30 days of having taken delivery.
    </p>
    <p class="mb-4">
      To return your order and qualify for a full refund, first contact our customer service department to arrange 
      for the return of the goods. Note that returns should arrive unworn, re-packed in their original packaging, 
      and in their original condition. Upon contacting our customer service team we'll give you instructions on how 
      to return your order to our warehouse for a full refund. It is important that you return the items within 30 
      days of arranging it.
    </p>
    <p class="mb-4">
      In all cases, you must include a receipt of confirmation of payment for your original order. Without this 
      identifying information, we may be unable to correctly identify your return and process your refund. Note 
      that return costs incurred by the customer are non-refundable. Refunds can be made only to your original 
      method of payment. Note that refunds may take up to 10 business days to post to your account after returns 
      have been processed and approved.
    </p>
    <p class="mb-4">
      For reasons of protecting our customers' safety and the safety of our warehouse staff, we are unable to 
      accept opened, partially used, or returns of perishable items.
    </p>
    <p class="mb-4">
      Shipping Returns
      When shipping your return, please use USPS (United States Postal Service) to ensure delivery, as other carriers 
      may not deliver to PO boxes.
    </p>
  </p>
  <p class="mb-4">
    Damaged Goods & Replacements
  </p>
  <p class="mb-4">
    If your shipment arrives damaged, please contact our customer service team to notify them. To expedite a 
    replacement, please provide photos and a description of the damage to the packaging and/or products inside.
  </p>
  <p class="mb-4">
  </p>
  </section>
</Container>
