---
import Container from "../components/shared/Container.astro";
---

<div class="relative mt-16">
    <div class="py-4 relative">
      <Container>
        <div class="flex flex-col items-center gap-2 md:text-lg text-heading-3">
          <div class="flex gap-4">
            <a href="#" class="hover:underline">Returns & Exchanges</a>
            <a href="#" class="hover:underline">Privacy Policy</a>
            <a href="#" class="hover:underline">Contact</a>
          </div>
          <div class="text-center text-sm mt-2">
            2024 Copyright ©. All Rights Reserved.
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>
