---
import Container from "../components/shared/Container.astro";
import Navitem from "../components/shared/Navitem.astro";
import CtaButton from "../components/shared/CtaButton.astro";

const navItems = [
  {
    href: "#",
    text: "Home",
  },
  {
    href: "#solutions",
    text: "Solutions",
  },
  {
    href: "#features",
    text: "Features",
  },
  {
    href: "#reviews",
    text: "Reviews",
  },
  {
    href: "#faq",
    text: "FAQ",
  },
];
---

<header class="fixed inset-x-0 top-0 z-50 pt-4 pb-0 bg-white dark:bg-gray-900 shadow-md border-b border-gray-200 dark:border-gray-700">
  <Container>
    <nav class="w-full flex justify-between gap-6 relative overflow-visible">
      <!-- logo -->
      <div class="min-w-max inline-flex relative">
        <a href="/" class="relative flex items-center gap-3">
          <div class="relative w-6 h-6 lg:w-7 lg:h-7 overflow-hidden flex rounded-xl">
            <img src="src/assets/logos/WebsiteLogo.webp" alt="Website Logo" class="w-full h-full object-contain" />
          </div>
        </a>
      </div>

      <div
        data-nav-overlay
        aria-hidden="true"
        class="fixed hidden inset-0 lg:!hidden bg-white dark:bg-gray-900 z-40"
      >
      </div>
      <div
        data-navbar
        class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-white dark:bg-gray-900 lg:bg-transparent border-x border-x-box-border lg:border-x-0 z-50"
      >
        <ul
          class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
        >
          {
            navItems.map((item) => {
              return <Navitem {...item} />;
            })
          }
        </ul>

        <div
          class="lg:min-w-max flex items-center sm:w-max w-full pb-6  lg:pt-1 border-b border-box-bg lg:border-0 px-6 lg:px-0">
          <CtaButton className="flex justify-center w-full sm:w-max">
            Order Now
          </CtaButton>
        </div>
      </div>

      <div class="min-w-max flex items-center gap-x-3">

        <button
          data-toggle-nav
          data-open-nav="false"
          class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
        >
          <img src="src/assets/logos/button.webp" alt="Menu" class="w-6 h-6" />
          <span class="sr-only">Toggle Navigation</span>
        </button>
      </div>
    </nav>
  </Container>
</header>

<div
  data-navbar
  class="fixed top-[85px] inset-x-0 bg-white dark:bg-gray-900 shadow-md z-50 lg:hidden h-0 overflow-hidden transition-[height] duration-300"
>
  <ul
    class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
  >
    {
      navItems.map((item) => {
        return <Navitem {...item} />;
      })
    }
  </ul>

  <div
    class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
  >
    <CtaButton
      className="flex justify-center w-full sm:w-max"
    >
      Order Now
    </CtaButton>
  </div>
</div>
